:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light;
	color: var(--sl-color-neutral-100);
	background-color: var(--sl-color-neutral-700);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root.sl-theme-dark {
	color-scheme: dark;
	color: var(--sl-color-neutral-900);
	background-color: var(--sl-color-neutral-200);
}

a {
	font-weight: 500;
	color: var(--sl-color-primary-500);
	text-decoration: inherit;
}
a:hover {
	color: var(--sl-color-primary-700);
}

body {
	margin: 0;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

section {
	padding: 1rem;
}

h1 {
	font-size: 2rem;
	line-height: 1.1;
}

#app {
	width: 100dvw;
	height: 100dvh;
}
